body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

#uv {
    width: 100%;
    height: 92%;
}

#options {
    background-color: black;
    margin: 0px;
    padding: 10px;
    height: 8%;
}