body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

.uv:focus {
    outline: none;
    box-shadow: none;
}

#uv {
    width: 100%;
    height: 100%;
}

#options {
    margin: 0 0 0 10px;
    padding: 0px;
    height: 8%;
}

#manifestSelect {
    width: 300px;
    margin: 1px 0 0 0;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0;
    border: none;
}

#manifest {
    width: 300px;
    margin: 1px 0 0 0;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0 0 0 5px;
    border: none;
    color: #565656;
    background-color: #C7C7C7;
}

#setManifestButton {
    display: inline-block;
    padding: 5px 5px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #14a4c3;
    border-color: #14a4c3;
}

#setManifestButton:hover,
#setManifestButton:focus,
#setManifestButton:active {
    color: #ffffff;
    background-color: #10859e;
    border-color: #0e758b;
}

#uv-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#logout {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 99999999;
}

#logout a {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    color: #ffffff;
    padding: 10px;
    display: inline-block;
}
